@model _30_4_25_task.ViewModels.IndexVM
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--welcome-hero start -->
    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>get your desired car in resonable price</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.
                </p>
                <button class="welcome-btn" onclick="window.location.href='#'">contact us</button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="model-search-content">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>select year</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">year</option><!-- /.option-->

                                            <option value="2018">2018</option><!-- /.option-->

                                            <option value="2017">2017</option><!-- /.option-->
                                            <option value="2016">2016</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                                <div class="single-model-search">
                                    <h2>body style</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">style</option><!-- /.option-->

                                            <option value="sedan">sedan</option><!-- /.option-->

                                            <option value="van">van</option><!-- /.option-->
                                            <option value="roadster">roadster</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>select make</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">make</option><!-- /.option-->

                                            <option value="toyota">toyota</option><!-- /.option-->

                                            <option value="holden">holden</option><!-- /.option-->
                                            <option value="maecedes-benz">maecedes-benz.</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                                <div class="single-model-search">
                                    <h2>car condition</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">condition</option><!-- /.option-->

                                            <option value="something">something</option><!-- /.option-->

                                            <option value="something">something</option><!-- /.option-->
                                            <option value="something">something</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-2 col-sm-12">
                                <div class="single-model-search">
                                    <h2>select model</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">model</option><!-- /.option-->

                                            <option value="kia-rio">kia-rio</option><!-- /.option-->

                                            <option value="mitsubishi">mitsubishi</option><!-- /.option-->
                                            <option value="ford">ford</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                                <div class="single-model-search">
                                    <h2>select price</h2>
                                    <div class="model-select-icon">
                                        <select class="form-control">

                                            <option value="default">price</option><!-- /.option-->

                                            <option value="$0.00">$0.00</option><!-- /.option-->

                                            <option value="$0.00">$0.00</option><!-- /.option-->
                                            <option value="$0.00">$0.00</option><!-- /.option-->

                                        </select><!-- /.select-->
                                    </div><!-- /.model-select-icon -->
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="single-model-search text-center">
                                    <button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
                                        search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!--/.welcome-hero-->
    <!--welcome-hero end -->
    <!--service start -->
    <section id="service" class="service">
        <div class="container">
            <div class="service-content">
                <div class="row">
                    @foreach (var service in Model.Services)
                    {
                        <div class="col-md-4 col-sm-6">

                            <div class="single-service-item">
                                <div class="single-service-icon">
                                    <i class="@service.Icon"></i>
                                </div>
                                <h2><a href="#">@service.Title</a></h2>
                                <p>
                                    @service.ShortDescription
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!--/.container-->

    </section><!--/.service-->
    <!--service end-->
    <!--new-cars start -->
    <section id="new-cars" class="new-cars">
        <div class="container">
            <div class="section-header">
                <p>checkout <span>the</span> latest cars</p>
                <h2>newest cars</h2>
            </div><!--/.section-header-->
            <div class="new-cars-content">
                <div class="owl-carousel owl-theme" id="new-cars-carousel">
                    @foreach (var newCar in Model.NewCars)
                    {
                        <div class="new-cars-item">
                            <div class="single-new-cars-item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12">
                                        <div class="new-cars-img">
                                            <img src="~/assets/images/new-cars-model/@newCar.Image" alt="img" />
                                        </div><!--/.new-cars-img-->
                                    </div>
                                    <div class="col-md-5 col-sm-12">
                                        <div class="new-cars-txt">
                                            <h2><a href="#">@newCar.Title</a></h2>
                                            <p>
                                                @newCar.Description1
                                            </p>
                                            <p class="new-cars-para2">
                                                @newCar.Description2
                                            </p>
                                            <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                                view details
                                            </button>
                                        </div><!--/.new-cars-txt-->
                                    </div>
                                    <!--/.col-->
                                </div><!--/.row-->
                            </div><!--/.single-new-cars-item-->
                        </div>
                    
                        <!--/.new-cars-item-->
                    }
                </div><!--/#new-cars-carousel-->
            </div><!--/.new-cars-content-->
        </div><!--/.container-->

    </section><!--/.new-cars-->
    <!--new-cars end -->
    <!--featured-cars start -->
    <section id="featured-cars" class="featured-cars">
        <div class="container">
            <div class="section-header">
                <p>checkout <span>the</span> featured cars</p>
                <h2>featured cars</h2>
            </div><!--/.section-header-->
            <div class="featured-cars-content">
                @{
                    int i = 0;
                    foreach (var featuredCars in Model.FeaturedCars)
                    {
                        if (i == 0)
                        {
					        @:<div class="row">
                        }
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img">
										<img src="assets/images/featured-cars/@featuredCars.Image" alt="cars">
									</div>
									<div class="featured-model-info">
										<p>
											model: @featuredCars.Detail1
											<span class="featured-mi-span"> @featuredCars.Detail2</span> 
											<span class="featured-hp-span"> @featuredCars.Detail3</span>
											@featuredCars.Detail3
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2><a href="#">@featuredCars.Model</a></h2>
									<h3>$@featuredCars.Price</h3>
									<p>
										@featuredCars.ShortDescription
									</p>
								</div>
							</div>
						</div>
                        if (i == 3)
					    {
                            @:</div>
                            i = -1;
                        }
                        i++;
                    }
                }
            </div>
        </div><!--/.container-->

    </section><!--/.featured-cars-->
    <!--featured-cars end -->
    <!-- clients-say strat -->
    <section id="clients-say" class="clients-say">
        <div class="container">
            <div class="section-header">
                <h2>what our clients say</h2>
            </div><!--/.section-header-->
            <div class="row">
                <div class="owl-carousel testimonial-carousel">
                    @foreach (var clientReview in Model.ClientReviews)
                    {
                        <div class="col-sm-3 col-xs-12">
                        <div class="single-testimonial-box">
                            <div class="testimonial-description">
                                <div class="testimonial-info">
                                    <div class="testimonial-img">
                                        <img src="~/assets/images/clients/@clientReview.Image" alt="image of clients person" />
                                    </div><!--/.testimonial-img-->
                                </div><!--/.testimonial-info-->
                                <div class="testimonial-comment">
                                    <p>
                                        @clientReview.Comment
                                    </p>
                                </div><!--/.testimonial-comment-->
                                <div class="testimonial-person">
                                    <h2><a href="#">@clientReview.Fullname</a></h2>
                                    <h4>@clientReview.City</h4>
                                </div><!--/.testimonial-person-->
                            </div><!--/.testimonial-description-->
                        </div><!--/.single-testimonial-box-->
                    </div><!--/.col-->
                    }
                </div><!--/.testimonial-carousel-->
            </div><!--/.row-->
        </div><!--/.container-->

    </section><!--/.clients-say-->
    <!-- clients-say end -->
    <!--brand strat -->
    <section id="brand" class="brand">
        <div class="container">
            <div class="brand-area">
                <div class="owl-carousel owl-theme brand-item">
                    @foreach (var brand in Model.Brands)
                    {
                        <div class="item">
                            <a href="#">
                                <img src="~/assets/images/brand/@brand.Image" alt="brand-image" />
                            </a>
                        </div><!--/.item-->
                    }
                </div><!--/.owl-carousel-->
            </div><!--/.clients-area-->

        </div><!--/.container-->

    </section><!--/brand-->
    <!--brand end -->
    <!--blog start -->
    <section id="blog" class="blog"></section><!--/.blog-->
    <!--blog end -->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/assets/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/assets/js/bootsnav.js"></script>

    <!--owl.carousel.js-->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/assets/js/custom.js"></script>

</body>
